@font-face {
    font-family: 'Inter Local';
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}
@font-face{
    font-family: 'Inter Local';
    src: url(assets/fonts/static/Inter-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face{
    font-family: 'Inter Local';
    src: url(assets/fonts/static/Inter-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter Local';
    src: url(assets/fonts/static/Inter-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

:root{
    --background-color: hsl(0, 0%, 8%);
    --font-color: hsl(0, 0%, 100%);
    --h1-color: hsl(75, 94%, 58%);
    --card-color: hsl(0, 0%, 20%);
    --grey-color: hsl(0, 0%, 12%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter Local', sans-serif;
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: var(--grey-color);
    max-width: 375px;
    border-radius: 10px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: -15px;
}

.social{
    background-color: var(--card-color);
    border-radius: 7px;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    color: var(--font-color);
    border: none;
    cursor: pointer;
}
.social:hover{
    background-color: green;
}

.name{
    color: var(--font-color);
    font-size: 23px;
    text-align: center;
    font-weight: 700;
}

.address{
    color: var(--h1-color);
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}

.job{
    color: var(--font-color);
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
}

.attribution{
    font-size: 11px;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.attribution a{
    color: Green;
    cursor: pointer;
}
.attribution a:hover{
    color: blue;
}

.social-links-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: -15px;
}

@media (min-width: 1440px){
    .card{
        padding: 3rem;
        max-width: 450px;
        gap: 20px;
    }

    .social-links-container{
        gap: 15px;
    }
}